:root {
    --light: #ededed;
    --dark: #1d438a;
    --accent: #00F2E2;
}

/* general */

html {
    margin: 0;
    padding: 0;
    font-size: 112.5%;
}

body {
    padding-top: 4rem;
    font-family: 'Poppins', sans-serif;
}

#intro, #about, #contact {
    padding: 8rem 0;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: none;
    color: var(--accent);
    background-color: var(--dark);
}

/* fonts */

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 3.052rem;
    font-weight: 600;
  }
  
  h2 {font-size: 2.441rem;}
  
  h3 {font-size: 1.953rem;}
  
  h4 {font-size: 1.563rem;}
  
  h5 {font-size: 1.25rem;}

/* navigation */

nav {
    background-color: var(--light);
}

#logo {
    height: 5rem;
    width: auto;
}

/* intro */

#intro {
    background-color: var(--dark);
}

#intro h1 {
    color: var(--accent);
}

#intro p, ul, li {
    color: var(--light);
}

/* projects */

#projects {
    overflow-x: scroll;
    overflow-y: hidden;
}

#projects_container {
    flex-wrap: nowrap;
}

#title_container {
    min-width: 32vw;
    padding: 0 3rem;
    background-color: var(--accent);
}

.project_card {
    min-width: 25vw;
    padding-bottom: 1rem;
    border-right: 1px solid var(--dark);
}

.description_short {
    padding: 0 1rem;
}

.description_short h3 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.description_short p {
    margin: 1rem 0;
}

.project_card button {
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
}

/* media queries */

@media only screen and (min-width: 428px) and (max-width: 812px) {

    /* intro */

    #intro img {
        width: 80%;
        height: auto;
    }

    /* projects */

    #title_container, .project_card {
        min-width: 90vw;
    }
}

@media only screen and (max-width: 428px) {

    /* intro */

    #intro img {
        width: 80%;
        height: auto;
    }

    /* projects */

    #title_container, .project_card {
        min-width: 90vw;
    }
}