:root {
    --light: #ededed;
    --dark: #0d3070;
    --accent: #7cf5fb;
    --text: #2b2b2b;
    --shadow: #515151;
}

/* general */

html {
    margin: 0;
    padding: 0;
    font-size: 112.5%;
}

body {
    padding-top: 4rem;
    font-family: 'Poppins', sans-serif;
}

#intro, #about, #contact {
    padding: 8rem 0;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: none;
    padding: 0.5rem 2rem;
    color: var(--accent);
    background-color: var(--dark);
    transition: 0.2s ease;
}

button:hover {
    color: var(--dark);
    background-color: var(--accent);
    box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow);
}

/* fonts */

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    line-height: 1.3;
    color: var(--text);
}
  
h1 {
    margin-top: 0;
    font-size: 3.052rem;
    font-weight: 600;
}
  
h2 {
    font-size: 2.441rem;
    font-weight: 600;
    color: var(--dark);
}
  
h3 {
    font-size: 1.953rem; 
    color: var(--dark);
}
  
h4 {font-size: 1.563rem;}
  
h5 {font-size: 1.25rem;}

p {color: var(--text);}

/* navigation */

nav {
    background-color: var(--light);
    box-shadow: 0 0.1rem 1.2rem var(--shadow);
}

#logo {
    height: 4rem;
    width: auto;
    padding-right: 2rem;
}

nav a {
    text-transform: uppercase;
    margin-right: 1rem ;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--dark);
}

/* intro */

#intro {
    background-color: var(--dark);
}

#intro h1 {
    color: var(--accent);
}

#intro p, ul, li {
    color: var(--light);
}

/* projects */

#projects_scroll {
    position: relative;
    
}

.proj_left, .proj_right {
    position: absolute;
    left: 0;
    top: 50%;
    background-color: transparent;
}

.proj_right {
    left: 92vw;
}

#arrow_left, #arrow_right {
    height: 5vh;
}

#arrow_left {
    transform: rotate(180deg);
}

#projects_container {
    padding: 2rem 5rem;
    flex-wrap: nowrap;
    gap: 3vw;
    overflow-x: scroll;
    overflow-y: hidden;
}

#title_container {
    padding: 0 1rem 0 3rem;
    background-color: var(--light);
    box-shadow: 0.1rem 0 0.8rem var(--shadow);
}

#title_container h2 {
    color: var(--dark);
    margin-top: 8%;
}

.project_card {
    min-width: 25vw;
    padding: 0 0 1rem 0;
    box-shadow: 0.1rem 0.1rem 1rem var(--shadow);
}

.card_content {
    padding: 0;
}

.description_short {
    padding: 0 1.5rem;
}

.description_short h3 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.description_short p {
    margin: 1rem 0 1.5rem 0;
}

.project_card button {
    width: 45%;
    margin-bottom: 2rem;
}

/* modal */

.modal-content {
    border-radius: 0;
    padding-bottom: 3rem;
}

.modal-header {
    background-color: var(--light);
}

.modal-body {
    padding-top: 3rem;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: transparent;
    box-shadow: none;
}

.project_description p {
    margin-bottom: 2rem;
}

.project_description a {
    margin-bottom: 1.5rem;
}

/* footer */

footer {
    background-color: var(--dark);
}

footer p {
    color: var(--light);
}

/* media queries */



@media only screen and (min-width: 835px) and (max-width: 1100px) {

    html {
        font-size: 125%;
    }

    /* intro */

    #intro img {
        width: 80%;
        height: auto;
    }

    /* projects */

    .proj_right {
        left: 90vw;
    }

    #title_container, .project_card {
        min-width: 50vw;
    }
}

@media only screen and (min-width: 429px) and (max-width: 834px) {

    html {
        font-size: 125%;
    }

    /* intro */

    #intro img {
        width: 80%;
        height: auto;
    }

    /* projects */

    .proj_right {
        left: 83vw;
    }

    .project_card {
        min-width: 80vw;
    }
}

@media only screen and (max-width: 428px) {
    html {
        font-size: 125%;
    }

    /* intro */

    #intro img {
        width: 80%;
        height: auto;
    }

    /* projects */

    #title_container, .project_card {
        min-width: 90vw;
    }
}